body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-container{
    margin-top: 20vh;
    height: 50vh;
    width: 25vw;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}





.l-btn{
    margin-top: 5vh;
    height: 6vh;
    width: 20vw;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #862B0D;
    font-weight: bold;
}

.l-btn:hover{
    color: #862B0D;
    background-color: #fff;
    font-weight: bold;
}

@media (max-width :768px){
.l-container{
    margin-top: 20vh;
    width: 100vw;
    height: 90vh;
}


.l-btn{
    margin-top: 5vh;
    height: 6vh;
    width: 20vw;
}
}

@media (max-width :480px){
    .l-container{
    margin-top: 20vh;
        width: 100vw;
        height: 90vh;
    }
    
    .l-btn{
        margin-top: 5vh;
        height: 6vh;
        width: 20vw;
    }
}